body {
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  color: whitesmoke;
  min-height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bt {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";
  color: whitesmoke;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2.5em;
}
form {
  margin-bottom: 1em;
}
label {
  font-size: 1.5em;
  color: white;
}
.query {
  padding: 0.6em 4em;
  font-size: 1.1em;
  width: 80%;
}
.submit {
  padding: 1em 2em;
  font-size: 1em;
}
.query,
.submit {
  border-radius: 2em;
  border: none;
}
label,
.query,
.submit {
  margin: 1em;
}
.submit:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  outline: 2px solid white;
  border: 2px solid black;
}
table {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";
  background-color: black;
  display: flex;
  justify-content: left;
  align-items: center;
  width: auto;
  text-align: justify;
  margin-left: 15em;
  margin-right: 15em;
  border-spacing: 1em;
  border-radius: 2em;
}
th,
td,
tr {
  font-size: 1em;
}
.red {
  color: red;
}
.bt {
  display: flex;
  justify-content: start;
  height: auto;
}
.home {
  color: black;
  background-color: aliceblue;
  text-decoration: none;
}
/* Styles for screen sizes up to 900px (inclusive) */
@media screen and (max-width: 1000px) {
  body {
    max-width: 900px;
    max-height: 900px;
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
  }
  form {
    max-width: 900px;
    max-height: 900px;
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  table {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    justify-content: flex-start;
  }

  table,
  th,
  td,
  tr {
    font-size: 0.9em;
  }

  /* Fix the text wrap inside table cells */
  td {
    word-wrap: break-word;
  }

  .submit {
    margin-top: 1em;
  }
  .table-container {
    width: 100%;
    border-radius: 2em;
    background-color: black;
    overflow-x: auto; /* Horizontal overflow will have a scrollbar */
    overflow-y: auto; /* Hide vertical scrollbar initially */
    margin: 0 auto; /* Center the container on larger screens */
    scrollbar-color: #777777 #f1f1f1; /* Adjust colors for thumb and track */
    scrollbar-width: thin; /* Width of the scrollbar (thin, auto, etc.) */
  }
}
