<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Website</title>
    <link rel="icon" href="static\logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        function darkMode() {
            var element = document.body;
            element.classList.toggle("dark-mode");
            var ele = document.querySelector(".container")
            ele.classList.toggle(".text");
            var elements = document.querySelectorAll(".icon");
            elements.forEach(function (element) {
                element.classList.toggle("icon-dark");
            });
        }
        function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;

                if (elementTop < windowHeight - elementVisible) {
                    reveals[i].classList.add("active");
                } else {
                    reveals[i].classList.remove("active");
                }
            }
        }

        window.addEventListener("scroll", reveal);
    </script>
</head>

<body id="body">
    <script src="script.js"></script>
    <div class="mainContent">
        <!-- <img src="static\logo.png" alt="LOGO" class="logo"> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" style="padding:1em">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon navbar-light"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-between w-100">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#about">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#projects">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#contact">Contact Me</a>
                    </li>
                    <li>
                        <a class="nav-link text-white" onclick="darkMode()" style="cursor: pointer;">Dark Mode</a>
                    </li>
                </ul>
        </nav>
        <main>
            <div class="col1" id="main">
                <a href="{{url_for('login')}}" title="ADMIN LOGIN"><img src="static\portfolio.png" alt="Portfolio Photo"
                        class="col1"></a>
            </div>
            <div class="col2">
                <h1 class="frank">Hi,👋🏼<br /> I am <span>Manas Gupta</span><br />
                    <span class="text_span">HTML/CSS/Python/SQL</span><br />
                    <div class="buttons">
                        <div class="resume_button">
                            <a href="static\Manas_Resume_New.pdf" download target="_blank" class='button'><button
                                    class="resume">Download
                                    Resume</button></a>
                            <a href="https://www.linkedin.com/in/manas-gupta-55878516a/" class='button'
                                target="_blank"><button class="resume">LinkedIn</button></a>
                        </div>
                        <div class="link_button">
                            <a href="https://github.com/ManaasGupta" target="_blank" class='button'><button
                                    class="resume">Github Page</button></a>
                            <a href="static\Manas_Resume_New.pdf" target="_blank"><button class="resume">View
                                    Resume</button></a>
                        </div>
                    </div>
                </h1>
            </div>
        </main>
        <p class="text-center dis" style="font-size: 1.5em; color: rgba(240, 255, 255, 0.5);">&#42780; Scroll Down &#42780;
        </p>
    </div>
    <div class="about reveal" style="margin:2em;margin-bottom: 5em;" id="about"
        style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';">
        <h1
            style="text-align: center; margin-top: 0.5em; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';">
            About Me</h1>
        <p class="text_format reveal">
            In this summary, I will provide an overview of my coding and bioinformatics background, highlighting my
            experiences and skills in software development. My expertise lies in leveraging programming and data
            analysis to accelerate bioinformatics research and develop innovative solutions.
        </p>
        <div class="content reveal">
            <h2 style="font-size: 1.5em;">Educational Background:</h2>

            <p class="text_format ">
                I recently graduated with a Master's degree in Bioinformatics, which provided me with a solid foundation
                in
                both biology and computer science. During my academic journey, I honed my skills in programming
                languages
                such as Python, R, and SQL. I have also gained hands-on experience in applying cutting-edge technologies
                and
                software tools commonly used in bioinformatics research.
            </p>
        </div>
        <div class="content reveal">
            <h2 style="font-size: 1.5em;">Software Development in Bioinformatics:</h2>

            <p class="text_format ">
                My passion for software development led me to focus on projects that merge biology and computational
                techniques. One exemplary project that showcases my software development expertise is my involvement in
                a
                Drug Discovery Platform as part of a Software-as-a-Service (SaaS) initiative. Within this project, I
                played
                a crucial role in developing predictive models by analyzing complex biological data. Collaborating with
                cross-functional teams, I successfully translated the models into tangible results, demonstrating my
                ability
                to work collaboratively, manage projects, and deliver impactful solutions. My proficiency in programming
                and
                data analysis played a pivotal role in driving the project's success.
            </p>
        </div>
        <div class="content reveal">
            <h2 style="font-size: 1.5em;">Project Management and Leadership:</h2>

            <p class="text_format ">
                Throughout my academic and professional journey, I have demonstrated my capabilities in leading teams in
                the
                development and implementation of bioinformatics solutions. These projects have contributed
                significantly to
                groundbreaking research and have further enhanced my software development skills. My expertise in
                project
                management allows me to coordinate tasks efficiently, ensure smooth progress, and deliver high-quality
                results within deadlines. By fostering a collaborative work environment and emphasizing attention to
                detail,
                I have successfully guided teams towards successful outcomes.
            </p>
        </div>
        <div class="content reveal">
            <h2 style="font-size: 1.5em;">Machine Learning and Computational Analysis:</h2>

            <p class="text_format ">
                In addition to my coding skills, I possess an in-depth understanding of machine learning algorithms
                commonly
                used in computational tools for protein structure prediction. My research experiences involve exploring
                various phytochemicals found in medicinal plants and conducting experiments on antibiotic-resistant
                bacteria
                to assess their antimicrobial potential. These hands-on experiences have not only deepened my
                understanding
                of bioinformatics but have also reinforced the practical applications of computational techniques in
                real-world scenarios. Integrating experimental data with computational analysis has proven to be a
                valuable
                skill in optimizing bioinformatics solutions.
            </p>
        </div>
        <div class="content reveal">
            <h2 style="font-size: 1.5em;">Molecular Techniques and Biological Systems:</h2>

            <p class="text_format ">
                My training in molecular techniques associated with recombinant DNA technology has broadened my
                understanding of biological systems. I have gained practical experience in protein extraction, media
                preparation, gel electrophoresis, ligation, and E. coli transformation. This knowledge allows me to
                integrate experimental data seamlessly with computational analysis, enabling a comprehensive approach to
                bioinformatics research and software development.
            </p>
        </div>
        <div class="content reveal">
            <h2 style="font-size: 1.5em;">Research Contributions:</h2>

            <p class="text_format ">
                As an academically driven individual, I take pride in my publication of a review article titled
                "Understanding the Machinery of Mycobacteriophage to Control Infection of Mycobacterium tuberculosis
                H37Rv
                Using Mycobacterium smegmatis." This publication showcases my ability to conduct in-depth research,
                analyze
                complex scientific literature, and contribute to the scientific community. My research experiences have
                honed my analytical thinking and problem-solving skills, which are invaluable assets in the realm of
                software development.
            </p>
        </div>
        <div class="content reveal">
            <h2 style="font-size: 1.5em;">Future Aspirations:</h2>

            <p class="text_format">
                As I embark on my professional journey, I am particularly interested in pursuing software positions that
                will allow me to further develop my skills and gain hands-on experience in the software development
                field,
                specifically within the domain of bioinformatics. My attention to detail, passion for problem-solving,
                and
                commitment to continuous learning and growth make me well-suited for software development roles in this
                dynamic and rapidly evolving field. With a strong focus on innovation and a dedication to driving
                progress,
                I am prepared to contribute meaningfully to software development projects and contribute to advancements
                in
                bioinformatics research.
            </p>
        </div>
    </div>
    <div class="project reveal" style="margin-bottom: 5em;" id="projects">
        <h1 style="color:black">Projects </h1>
        <div class="cards" style="margin: 0em; padding: 0em;">
            <div class="card poster text-center border-0 bg-transparent" style="width: 18rem;">
                <a href="{{url_for('user_login')}}"><img class="card-img-top login" src="static\login.png"
                        alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title text-dark">1. Credentials Authentication</h5>
                    <p class="card-text text-dark">Credentials authentication is the process of verifying a user's
                        identity using
                        a combination of a unique identifier (e.g., username) and a secret shared value (e.g.,
                        password).</p>

                </div>
            </div>
            <div class="card poster text-center border-0 bg-transparent" style="width: 18rem;">
                <a href="{{url_for('get_database')}}"><img class="card-img-top" src="static\sql.png"
                        alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title text-dark">2. SQL Query Runner</h5>
                    <p class="card-text text-dark">
                        SQL Query Runner is a versatile utility used to interact with databases by executing SQL
                        queries. It provides a user-friendly interface to input and execute queries, view the results,
                        and manage database operations seamlessly , it proves to be
                        an essential tool for database administrators and developers alike.</p>
                </div>
            </div>
            <div class="card poster text-center border-0 bg-transparent" style="width: 18rem;">
                <a href="{{url_for('calc')}}"><img class="card-img-top" src="static\calculator.png"
                        alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title text-dark">Calculator</h5>
                    <p class="card-text text-dark">A calculator web app is a browser-based tool that lets users perform
                        mathematical calculations on any device with internet access. It offers a user-friendly
                        interface and eliminates the need for installing separate software or carrying a physical
                        calculator.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="form h-100 contact-wrap p-5 contact text_format reveal" style="margin-bottom: 2em;" id="contact">
        <h1 class="text-center">Let's Talk </h1>
        <form class="mb-5" id="contactForm" name="contactForm" method="POST">
            <div class="row">
                <div class="col-md-6 form-group mb-3">
                    <label for="name" class="col-form-label margin5px">Name <span class='red'>* </span> </label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Your name" required>
                </div>
                <div class="col-md-6 form-group mb-3">
                    <label for="email" class="col-form-label margin5px">Email <span class='red'>* </span> </label>
                    <input required type="email" class="form-control" name="email" id="email" placeholder="Your email">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group mb-3">
                    <label for="subject" class="col-form-label margin5px">Subject <span class='red'>* </span> </label>
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Your subject"
                        required>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-12 form-group mb-3">
                    <label for="message" class="col-form-label margin5px">Message <span class='red'>* </span> </label>
                    <textarea class="form-control" name="message" id="message" cols="30" rows="4"
                        placeholder="Write your message" required></textarea>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 form-group text-center">
                    <input type="submit" value="Send Message" class="submit">
                </div>
            </div>
        </form>
        <!-- END Contact Form -->
    </div>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <h5 class="mb-3 mb-md-0 ">&copy; 2023 Manas Gupta, Inc</h5>
            </div>

            <ul class="nav col-md-4 justify-content-lg-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="https://github.com/ManaasGupta"><img class="icon"
                            src="static\github.png" alt="GITHUB icon"></a></li>
                <li class="ms-3"><a class="text-body-secondary"
                        href="https://www.linkedin.com/in/manas-gupta-55878516a/"><img class="icon"
                            src="static\linkedIn.png" alt="LinkedIn icon"></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="{{url_for('email')}}"><img class="icon"
                            src="static\email.png" alt="LinkedIn icon"></a></li>
            </ul>
        </footer>
    </div>
</body>

</html>